.select-container-time-at {
    width: 200px;
    background-color: #eef;
    border-radius: 15px;
    height: 51px;
  }
  
  .select-box-time-at {
    padding: 10px;
    height: 51px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .select-dropdown-time-at {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .select-dropdown-time-at.show {
    display: block;
  }
  
  .select-dropdown-time-at li {
    padding: 10px;
    cursor: pointer;
  }
  
  .select-dropdown-time-at li:hover {
    background-color: #f5f5f5;
  }
  
  .select-dropdown-time-at li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }