.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* затемнення */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Для модального вікна ведення дати часу */
.date-select,
.time-input,
.duration-select {
  width: 100%;
  height: 24x;
  padding: 8px;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  border-color: rgba(16, 128, 38, 0.733);
  border-radius: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}


.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-content input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000;
  background-color: azure;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}
