.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* затемнення */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
   overflow-y: auto; /* Дозволяє вертикальну прокрутку */
  padding: 20px; /* Щоб вміст не прилипав до країв при скролі */
  padding-top: 100px;
}

/* Для модального вікна ведення дати часу */
.date-select,
.time-input,
.duration-select {
  width: 100%;
  height: 24x;
  padding: 8px;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  border-color: rgba(16, 128, 38, 0.733);
  border-radius: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}


.modal-content {
  background: linear-gradient(135deg, #0da26b 0%, #111827 100%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: translateY(-20px);
  animation: slideUp 0.3s ease-in-out forwards;
  font-family: 'Inter', sans-serif;
  color: #f3f4f6;
}
.modal-content input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000;
  background-color: azure;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 140px;
  margin-left: 24px;
}
.cancel-button-my-book {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 208px;
  margin-left: 24px;
}