.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 120px;
}

.pagination button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #4f8bfc;
  color: #fff;
}

.pagination button:hover:not(.disabled) {
  background-color: #aaa;
}

.pagination button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}