.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
  }
  
  .form-container button {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  